@font-face {
    font-family: "Freight";
    src: url("fonts/FreightBigBold.otf");
}


@font-face {
    font-family: "Alte Haas Grotesk";
    src: url("fonts/Alte Haas Grotesk Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Alte Haas Grotesk";
    src: url("fonts/Alte Haas Grotesk Regular.ttf");
    font-weight: normal;
}